head{color: brown;}

title{color: brown;}


p{color: slateblue;font-size: 48px;}




h1{color: aquamarine;}

#primero {color: blue;font-family: 'Times New Roman', Times, serif;}
#segundo{color: brown;}

