#titulo{color: rgb(0, 0, 0);font-size: 48px;}


/* Modulo 2 unidad 1 */
header{
    background: linear-gradient( rgb(207, 31, 31), rgb(7, 7, 252));
}


#foto{
    margin-top: 12px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-right: 12p;
    
}


#alias{color: rgba(23, 32, 42,0.8)}


#foto2{
    width: 96px; 
    height: 96px;
}

/* Modulo 2 unidad 1 */
#columnas{
    column-count: 2;
    column-gap: 100px;
}

/* Modulo 2 */
